<a href="https://colab.research.google.com/github/ss1111119/Myfirstproject/blob/main/20220914.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown '1HxuUkrSFn010EViCIgCdJaxC2mBl62Hd' --output ML.zip #存檔名稱
!unzip ML.zip

Downloading...
From: https://drive.google.com/uc?id=1HxuUkrSFn010EViCIgCdJaxC2mBl62Hd
To: /content/ML.zip
100% 30.7M/30.7M [00:00<00:00, 211MB/s]
Archive:  ML.zip
  inflating: customer.csv
  inflating: housePrice.csv
  inflating: mnist500.zip
  inflating: toutiao_cat_data.txt
  inflating: 汽車車型資料檔.csv
  inflating: 客戶聯絡狀況資料檔.csv
  inflating: breastCancer.csv

# 資料處理

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/汽車車型資料檔.csv')
df

                                    名稱  哩/加侖  氣缸    排氣量   馬力    重量  加速時間  年份
0                     mercury capri v6  21.0   6  155.0  107  2472  14.0  73
1                   chevrolet chevette  30.0   4   98.0   68  2155  16.5  78
2                      amc concord d/l  18.1   6  258.0  120  3410  15.1  78
3                  ford pinto runabout  21.0   4  122.0   86  2226  16.5  72
4                             fiat 128  29.0   4   68.0   49  1867  19.5  73
..                                 ...   ...  ..    ...  ...   ...   ...  ..
375  oldsmobile cutlass salon brougham  19.9   8  260.0  110  3365  15.5  78
376                     mercury lynx l  36.0   4   98.0   70  2125  17.3  82
377                     toyota mark ii  19.0   6  156.0  108  2930  15.5  76
378                        ford ranger  28.0   4  120.0   79  2625  18.6  82
379                   ford thunderbird  16.0   8  351.0  149  4335  14.5  77

[380 rows x 8 columns]

In [4]:
df1 = df.iloc[:, 1:8]
df1

     哩/加侖  氣缸    排氣量   馬力    重量  加速時間  年份
0    21.0   6  155.0  107  2472  14.0  73
1    30.0   4   98.0   68  2155  16.5  78
2    18.1   6  258.0  120  3410  15.1  78
3    21.0   4  122.0   86  2226  16.5  72
4    29.0   4   68.0   49  1867  19.5  73
..    ...  ..    ...  ...   ...   ...  ..
375  19.9   8  260.0  110  3365  15.5  78
376  36.0   4   98.0   70  2125  17.3  82
377  19.0   6  156.0  108  2930  15.5  76
378  28.0   4  120.0   79  2625  18.6  82
379  16.0   8  351.0  149  4335  14.5  77

[380 rows x 7 columns]

In [5]:
# Z分數標準化
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
arr = std.fit_transform(df1)
arr

array([[-0.32935186,  0.32384657, -0.36212311, ..., -0.57751248,
        -0.58214042, -0.79764417],
       [ 0.81616157, -0.85377733, -0.90934371, ..., -0.95001738,
         0.33484416,  0.55188738],
       [-0.69846174,  0.32384657,  0.62671412, ...,  0.52472601,
        -0.17866721,  0.55188738],
       ...,
       [-0.5839104 ,  0.32384657, -0.35252275, ..., -0.03931927,
        -0.03194967,  0.01207476],
       [ 0.56160303, -0.85377733, -0.69813576, ..., -0.39772305,
         1.1051112 ,  1.63151262],
       [-0.96574821,  1.50147047,  1.51954774, ...,  1.61168827,
        -0.3987435 ,  0.28198107]])

In [6]:
# 最大最小值標準化
from sklearn.preprocessing import MinMaxScaler
std = MinMaxScaler()
arr = std.fit_transform(df1)
arr

array([[0.31914894, 0.6       , 0.2248062 , ..., 0.24354976, 0.36144578,
        0.25      ],
       [0.55851064, 0.2       , 0.07751938, ..., 0.15367168, 0.51204819,
        0.66666667],
       [0.24202128, 0.6       , 0.49095607, ..., 0.50949816, 0.42771084,
        0.66666667],
       ...,
       [0.26595745, 0.6       , 0.22739018, ..., 0.37340516, 0.45180723,
        0.5       ],
       [0.50531915, 0.2       , 0.13436693, ..., 0.2869294 , 0.63855422,
        1.        ],
       [0.18617021, 1.        , 0.73126615, ..., 0.7717607 , 0.39156627,
        0.58333333]])